.page-location {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  font-family: "Open Sans", arial, sans-serif;
}
.page-location .location-form {
  left: 50%;
  max-width: 320px;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  width: 100%;
}
.page-location .location-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("../img/background.png");
}
.page-location .overlay {
  background-color: #0007;
  width: 100%;
  height: 100%;
}
.page-location .background-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem 0;
  position: relative;
}
.page-location .geolocation-link {
  color: #e31837;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0px 24px;
}
.page-location .modal-title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.page-location .modal-text {
  color: #2e2e2e;
  font-size: 16px;
  margin: 8px 0px 0px;
  padding: 0px 70px;
  text-align: center;
}
.page-location .region-select {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.page-location .text-input,
.state-form {
  margin: 0.5rem 0px;
  width: 100%;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-family: sans-serif;
  color: rgb(102, 102, 102);
  border: 0.0625rem solid rgb(238, 238, 240);
  outline: transparent;
  border-radius: 1.875rem;
  appearance: none;
  transition: all 300ms ease-in 0s;
  max-width: 250px;
  text-align: left;
  box-sizing: border-box;
}
.page-location .btn-sucess {
  display: block;
  float: none;
  margin: auto;
  border: 0;
  background-color: #e31837;
  color: #fff;
  height: 35px;
  width: 250px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
}
.page-location .fas.fa-map-marker-alt {
  color: #e31837;
}
@media (min-width: 768px) {
  .page-location .background-form {
    padding: 3rem 1.5rem;
  }
  .page-location .location-form {
    max-width: 522px;
  }
}
